/* Airbnb Listing NavBar Styles */
.airbnb-listing-navbar {
    padding: 24px 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    background-color: #fff;
    box-shadow: 0px -1px 0px 0px #F3F4F6 inset;
}

/* Left Section: Logo */
.navbar-left .navbar-logo {
    height: 30px;
    cursor: pointer;
}

/* Center Section: Search Bar */
.navbar-center .search-bar {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 5px 10px;
    max-width: 400px;
    width: 100%;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding-left: 10px;
}

.search-button {
    background-color: #ff385c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Right Section */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.host-link {
    font-size: 14px;
    cursor: pointer;
}

.icon {
    font-size: 20px;
    cursor: pointer;
}

.profile-dropdown{
    display: flex;
        padding: 8px 8px 8px 16px;
        align-items: center;
        gap: 8px;
        border-radius: 100px;
            border: 1px solid var(--gray-200, #E5E7EB);
            background: var(--white, #FFF);
}