/* BigCard Section Container */
.big-card-container {
    background-color: #000;
    /* Black background for the section */
    padding: 20px 0;
    /* Optional padding around the BigCard */
}

/* BigCard Styles */
.big-card {
    position: relative;
    height: 70vh;
    width: 100%;
    background-image: url('/src/assets/airbn-home-backgrd.PNG');
    /* Replace with your actual image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card-overlay {
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.big-card-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.big-card-button {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.big-card-button:hover {
    background-color: #f7f7f7;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .big-card-title {
        font-size: 2rem;
    }

    .big-card-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}